<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Step 5 XML definitions will go inside here -->

<!--    Work as @Primary-->
    <bean id="car" class="org.example.Car" primary="true"/>
    <bean id="bike" class="org.example.Bike" />


    <bean id="engine" class="org.example.Engine" autowire="byType">
        <property name="kilometers" value="450" />
<!--        Work as @Qualifier if want you can comment it -->
<!--        <property name="vehical" ref="bike" />-->

<!--        <constructor-arg index="0" value="450" /> -->
<!--        <constructor-arg index="1" ref="bike" />-->

<!--        <constructor-arg name="km" value="450" />-->
<!--        <constructor-arg name="vehical" ref="bike" />-->
    </bean>

</beans>